a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
}
h1{
    border-bottom: solid gray 1px;
    margin: 0%;
    text-align: center;
    padding: 3px;
}
ol{
    border-right: solid gray 1px;
    margin: 0%;
    padding-top: 20px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}
#banana{
    grid-template-columns: 100px 1fr;
    display: grid;
}
#apple{
    padding-left: 22px;
    padding-right: 22px;
}
image {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.contents{
    padding-bottom: 5px;
    padding-top: 5px;
}